################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Game_Form1/.vs/Game_Form1
/Game_Form1/Game_Form1/.vs
/Game_Form1/Game_Form1/bin/Debug
/Game_Form1/Game_Form1/obj
